# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
plataforma_projetos/media/*
!plataforma_projetos/media/ods_imagens/
!plataforma_projetos/media/ods_imagens/*.png
plataforma_projetos/staticfiles/
plataforma_projetos/output/docx_qa*/
plataforma_projetos/output/pdf/
plataforma_projetos/tmp*/

# Ambiente virtual
.env
.venv
venv/
env/
ENV/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Render / deploy
.render/
