{% extends 'base.html' %}
    <!-- {% block mascaras %}
        $("#id_cpf").mask("999.999.999-99");
    {% endblock %} -->
{% block title %}Plataforma de Projetos{% endblock %}
{% block content %}
<main class="home-main-section">
    <div class="container text-center text-lg-start d-lg-flex align-items-center justify-content-between">
        <div class="shape d-none d-lg-block"></div>
            <div class="content text-center">
                <h2 class="fw-bold">PPI</h2>
                <h3 class="fw-semibold mb-3">Cadastro de Projetos</h3>
                <p class="text-muted mb-4">
                        Realize seu login ou registre-se na plataforma para <br>
                        explorar projetos de extensão ou cadastrá-los.
                </p>
            <div>
                <a href="{% url 'login' %}" class="btn btn-outline-primary me-2">Fazer Login</a>
                <a href="{% url 'registrar' %}" class="btn btn-outline-primary">Registrar-se</a>
            </div>
        </div>
    </div>
</main>
{% endblock %}