{% extends "base.html" %}

{% load crispy_forms_tags %}
{% block title %}Nova Senha{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Crie uma nova senha</h3>
                    {% if validlink %}
                        <p>Por favor, digite sua nova senha duas vezes para confirmar.</p>
                        <form method="post">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <button type="submit" class="btn btn-success w-100 mt-3">Redefinir Senha</button>
                        </form>
                    {% else %}
                        <div class="alert alert-danger">
                            Este link de redefinição de senha é inválido ou já foi usado. Por favor, solicite uma nova redefinição.
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}