<div class="card-projeto" data-bs-toggle="modal" data-bs-target="#detalheProjetoModal-{{ projeto.pk }}">
    <p class="categoria">{{ projeto.curso.nome|default:"Geral" }}</p>
    <p class="titulo-projeto">{{ projeto.titulo }}</p>
    
    {% if projeto.imagem_capa %} 
    <div class="imagem-projeto-container" style="background-image: url('{{ projeto.imagem_capa.url }}');">
        <!-- <img src="{{ projeto.imagem_capa.url }}" alt="Imagem do Projeto"> -->
    </div>
    {% endif %}

    <div class="card-footer-projeto">
        <div class="icones-info">
            <button type="button" class="btn btn-link text-secondary p-0" data-bs-toggle="modal" data-bs-target="#equipeModal-{{ projeto.pk }}" title="Ver Equipe" onclick="event.stopPropagation();">
                <i class="fas fa-users"></i>
            </button>
            
            <a href="{% url 'projeto_anexos' projeto.pk %}" class="btn btn-link text-secondary p-0" title="Gerenciar Anexos" onclick="event.stopPropagation();">
                <i class="fas fa-paperclip"></i>
            </a>
        </div>

        <div class="menu-opcoes">
            {% if user == projeto.coordenador and projeto.status in "submetido,reprovado" %}
                <a href="{% url 'projeto_editar' projeto.pk %}" onclick="event.stopPropagation();" title="Editar Projeto">
                    <i class="fas fa-ellipsis-h"></i>
                </a>
            {% endif %}
        </div>
    </div>
</div>